@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');

/* Simple Animation SetUp For Later Use */
@keyframes floatAnimation {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

/* All */
* {
    font-family: "Noto Kufi Arabic", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    direction: rtl;
}

/* Body */
body {
    background: linear-gradient(to right, rgb(0, 54, 179), rgb(0, 19, 63));
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}



/* Unknow Effects */
.koktel_full_screen_overlay {
    width: 100%;
    height: 100%;
    background: rgb(59, 59, 59);
    padding: 20px 0;
    z-index: 997;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.koktel_full_screen_overlay h1 {
    background: black;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.koktel_full_screen_overlay video,
.koktel_full_screen_overlay img {
    margin: 10px 0;
    width: 400px;
    border-radius: 3px;
    box-shadow: 0 0 10px 1px black;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}


.koktel_full_screen_overlay video:hover,
.koktel_full_screen_overlay img:hover {
    transform: scale(1.015);
}

.koktel_full_screen_overlay_exit_button {
    z-index: 998;
    text-decoration: none;
    background: black;
    color: white;
    font-size: 4vw;
    padding: 2px;
    position: fixed;
    top: 5px;
    left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid white;
    transition: all 0.1s ease-in-out;
}

.koktel_full_screen_overlay_exit_button:hover {
    background: white;
    color: black;
    transform: scale(1.015);
}

.koktel_full_screen_img_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgb(75, 75, 75), rgb(0, 0, 0));
    width: 100%;
    height: 100%;
    padding: 20px 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.koktel_big_img {
    width: 100%;
    /* Set width to 100% */
    height: 100%;
    /* Set height to 100% */
    object-fit: contain;
    /* Maintain aspect ratio */
}

.koktel_big_video {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}


#koktel_full_screen_guidance_overlay {
    z-index: 1001;
    background: linear-gradient(to right, rgb(81, 0, 203), rgb(0, 48, 77));
    width: 100%;
    height: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    /* Prevent scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.koktel_go_back_products_page_button {
    text-decoration: none;
    background: black;
    color: white;
    z-index: 900;
    font-size: 3.5vw;
    padding: 2px;
    position: fixed;
    top: 5px;
    left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid white;
    transition: all 0.1s ease-in-out;
}

.koktel_go_back_products_page_button:hover {
    background: white;
    color: black;
    transform: scale(1.015);
}

.koktel_share_page_url_button {
    text-decoration: none;
    background: black;
    color: white;
    z-index: 996;
    font-size: 3vw;
    padding: 2px;
    position: fixed;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid white;
    transition: all 0.1s ease-in-out;
}

.koktel_share_page_url_button:hover {
    background: white;
    color: black;
    transform: scale(1.015);
}

.koktel_success_box {
    background: white;
    color: black;
    width: fit-content;
    font-size: 2vw;
    padding: 8px 14px;
    text-align: center;
    line-height: 1.4;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    border-radius: 3px;
    box-shadow: 0 0 5px 0.5px black;
    transition: transform 1.2s, opacity 0.5s;
}

























/* Header */
header {
    width: 100%;
    padding: 10px;
    transition: opacity 0.5s ease-in-out;
}

header div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3px 0;
}

#koktel_weblogo {
    width: 70Vw;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 5px 0.5px black;
    animation: floatAnimation 4s ease-in-out infinite;
}

#koktel_web_logo_no_moving {
    width: 20Vw;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

#koktel_error_logo {
    width: 50Vw;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    animation: floatAnimation 4s ease-in-out infinite;
}

.koktel_web_intro {
    color: rgb(255, 166, 0);
    display: flex;
    width: fit-content;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 10px 0;
    line-height: 1.4;
}

#koktel_web_intro_1 {
    font-size: 10vmin;
    animation: floatAnimation 4s ease-in-out infinite;
}

#koktel_web_intro_2 {
    color: white;
    font-size: 3vmin;
}

#koktel_web_intro_3 {
    color: white;
    font-size: 4vmin;
    padding: 15px 0;
    margin: 5px 0 15px 0;
}

.koktel_web_intro_contact_us {
    text-decoration: none;
    background: black;
    color: white;
    font-size: 4vmin;
    text-decoration: none;
    text-align: center;
    padding: 0 5px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.koktel_web_intro_contact_us:hover {
    background: rgb(59, 59, 59);
    color: rgb(0, 255, 0);
    transform: scale(1.015);
}

.koktel_section_intro_bigger_text {
    background: linear-gradient(to top, rgb(234, 152, 0), rgb(156, 101, 0));
    font-size: 8vmin;
    margin-top: 5px;
    padding: 0 5px;
    width: fit-content;
    text-align: center;
    border: 1px solid white;
    border-radius: 3px;
    line-height: 1.4;
}

.koktel_restaurant_intro_text {
    background: linear-gradient(to top, rgb(234, 152, 0), rgb(156, 101, 0));
    font-size: 5vmin;
    margin-top: 5px;
    padding: 0 5px;
    width: fit-content;
    text-align: center;
    border: 1px solid white;
    border-radius: 3px;
    line-height: 1.4;
}

.koktel_go_to_products_page_button {
    background: black;
    color: rgb(255, 166, 0);
    margin: 5px 0;
    font-size: 5vmin;
    text-decoration: none;
    text-align: center;
    padding: 0 5px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.koktel_go_to_products_page_button:hover {
    background: rgb(59, 59, 59);
    color: rgb(0, 255, 0);
    transform: scale(1.015);
}

#koktel_website_guidance_text {
    background: black;
    font-size: 4vmin;
    margin: 3px 0;
    padding: 0 5px;
    text-align: center;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#koktel_website_guidance_text:hover {
    background: rgb(59, 59, 59);
    color: rgb(0, 255, 0);
    transform: scale(1.015);
}

#koktel_our_pages_links_div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Align all items to the right initially */
    align-items: center;
    width: 100%;
}

#koktel_our_pages_links_div a {
    text-decoration: none;
    background: rgb(0, 50, 103);
    color: white;
    font-size: 4vmin;
    margin: 0 5px;
    padding: 0 5px;
    text-align: center;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#koktel_our_pages_links_div a:hover {
    background: rgb(0, 19, 40);
    transform: scale(1.015);
}

#koktel_our_pages_links_div p {
    text-decoration: none;
    background: rgb(132, 0, 0);
    color: white;
    font-size: 4vmin;
    margin: 0 5px;
    padding: 0 5px;
    text-align: center;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    margin-right: auto; /* Pushes the <p> element to the left */
}

#koktel_our_pages_links_div p:hover {
    background: rgb(0, 19, 40);
    transform: scale(1.015);
}



#koktel_error_page_go_back_button {
    background: rgb(255, 89, 89);
    margin: 5px 0;
    font-size: 2vw;
    text-decoration: none;
    text-align: center;
    padding: 10px 18px;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#koktel_error_page_go_back_button:hover {
    background: rgb(59, 59, 59);
    color: rgb(0, 255, 0);
    transform: scale(1.015);
}

.web_guidance_div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 3px;
    box-shadow: 0 0 3px 0.5px white;
}


.web_guidance_div a {
    text-decoration: none;
    background: linear-gradient(to top, rgb(0, 135, 213), rgb(0, 63, 99));
    color: white;
    font-size: 2.5vw;
    line-height: 1.4;
    text-align: center;
    margin: 5px 0;
    padding: 8px 12px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.web_guidance_div a:hover {
    background: rgb(166, 166, 166);
    color: black;
}

nav {
    margin-top: 20px;
}

#koktel_nav {
    background: rgb(0, 50, 103);
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: fit-content;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#koktel_nav:hover {
    background: rgb(0, 19, 40);
}

nav h3 {
    font-size: 5vmin;
    margin-left: 2px;
    cursor: pointer;
}

#koktel_nav_icon {
    width: 10vmin;
    cursor: pointer;
}

body.nav-open #koktel_nav_options * {
    pointer-events: auto;
}

#koktel_nav_options {
    background: linear-gradient(to right, rgb(81, 0, 203), rgb(0, 48, 77));
    padding: 10px;
    z-index: 999;
    position: fixed;
    right: -75%;
    top: 50%;
    width: 75%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out, right 0.3s ease-in-out;
}

#koktel_nav_logo {
    width: 15vmin;
    margin: 10px 0;
    animation: floatAnimation 4s ease-in-out infinite;
}

#koktel_nav_options a {
    text-decoration: none;
    background: linear-gradient(to left, rgb(0, 135, 213), rgb(0, 63, 99));
    color: white;
    width: 100%;
    font-size: 2vmax;
    margin: 5px 0;
    border: 1px solid white;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#koktel_nav_options a:hover {
    color: rgb(0, 255, 0);
    letter-spacing: 1px;
}

#koktel_close_nav {
    background: linear-gradient(to right, rgb(255, 0, 221), rgb(13, 0, 255));
    display: flex;
    justify-content: center;
    align-items: center;
}

#koktel_close_nav:hover {
    color: red !important;
}

#koktel_nav_options ion-icon {
    font-size: 6vmin;
}




#koktel_go_up_arrow {
    z-index: 998;
    background: orange;
    color: black;
    font-size: 5.5vmax;
    position: fixed;
    bottom: 80px;
    right: 5px;
    cursor: pointer;
    border-radius: 50%;
    animation: floatAnimation 4s ease-in-out infinite;
    transition: all 0.1s ease-in-out;
}

#koktel_go_up_arrow:hover {
    background: rgb(0, 162, 255);
}






/* Choose Your Service Section */
.koktel_sections {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 10px;
}

#koktel_choose_service_section {
    background: linear-gradient(to right, rgb(0, 54, 179), rgb(0, 19, 63));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#koktel_choose_service_area {
    background: linear-gradient(to right, rgb(0, 54, 179), rgb(0, 19, 63));
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#koktel_choose_service_area a {
    background: linear-gradient(to left, rgb(224, 0, 0), rgb(112, 0, 0));
    color: white;
    text-decoration: none;
    width: 45.9vmin;
    border-radius: 3px;
    overflow: hidden;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px 0.5px black;
    transition: all 0.1s ease-in-out;
}

#koktel_choose_service_area a:hover {
    transform: scale(1.015);
}

.koktel_choose_service_img {
    width: 100%;
    overflow: hidden;
}

.koktel_choose_service_img img {
    width: 100%;
}

.koktel_choose_service_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.koktel_choose_service_title h2 {
    width: 100%;
    font-size: 4vmin;
    text-align: center;
}












/* Store Section */
#koktel_restaurant_section {
    background: linear-gradient(to right, rgb(13, 0, 255), rgb(5, 0, 91));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.koktel_filter_products_type_div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 50px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 0 3px 0.5px white;
    
    /* Scroll behavior */
    max-height: 80vh;  /* Adjust height as needed */
    overflow-y: auto;  /* Enable vertical scrolling */
}

.koktel_filter_products_type_div a {
    text-decoration: none;
    background: linear-gradient(to left, rgb(0, 120, 144), rgb(0, 37, 44));
    color: white;
    font-size: 2.5vw;
    line-height: 1.4;
    text-align: center;
    margin: 10px;
    padding: 8px 12px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.koktel_filter_products_type_div a:hover {
    background: rgb(166, 166, 166);
    color: black;
}







.koktel_restaurant_card {
    user-select: none;
    background: linear-gradient(to right, rgb(0, 54, 179), rgb(0, 19, 63));
    min-width: 70vmin;
    width: 25vw;
    height: fit-content;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 0 5px 0.5px black;
    transition: all 0.1s ease-in-out;
    overflow: hidden;
}

.koktel_restaurant_card:hover {
    box-shadow: 0 0 1px 0.5px white;
}


.koktel_card_img {
    width: 100%;
    overflow: hidden;
}

.koktel_card_img img {
    width: 100%;
}

.koktel_restaurant_card_name_and_rate {
    background: linear-gradient(to right, rgb(0, 54, 179), rgb(0, 19, 63));
    width: 100%;
    padding: 0 2px;
    display: flex;
    flex-direction: column;
}

.koktel_restaurant_card_name {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.koktel_restaurant_card_name h2 {
    font-size: 3.5vmin;
}

.koktel_restaurant_card_rate {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.koktel_restaurant_card_rate h1 {
    color: rgb(255, 166, 0);
    font-size: 6vmin;
}

.koktel_restaurant_card_rate h3 {
    font-size: 3.5vmin;
}

.koktel_restaurant_card_info {
    background: linear-gradient(to left, rgb(0, 54, 179), rgb(0, 19, 63));
    width: 100%;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.koktel_restaurant_card_info h3 {
    font-size: 4vmin;
}









/* Store Menu Section */
#koktel_restaurant_menu_section {
    background: linear-gradient(to right, rgb(0, 54, 179), rgb(0, 19, 63));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#koktel_restaurant_menu_area {
    background: linear-gradient(to right, rgb(0, 54, 179), rgb(0, 19, 63));
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.koktel_product_type_title {
    background: linear-gradient(to left, rgb(255, 0, 221), rgb(13, 0, 255));
    width: 100%;
    font-size: 8vmin;
    padding: 0 5px;
    box-shadow: 0 0 3px 0.5px black;
}

.koktel_store_menu_img {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.koktel_store_menu_img img {
    width: 60%;
    box-shadow: 0 0 3px 0.5px black;
    border-radius: 3px;
}

.koktel_meal_description_text1 {
    color: white;
    font-size: 4vmin;
    margin: 5px 0;
    text-align: center;
    line-height: 1.4;
}

.koktel_meal_description_text2 {
    font-size: 3vmin;
    font-weight: 300;
    margin: 5px 0;
    text-align: center;
    line-height: 1.4;
}

.koktel_meal_description_text3 {
    color: rgb(0, 255, 0);
    font-size: 3.5vmin;
    margin: 5px 0;
    text-align: center;
    line-height: 1.4;
}


#koktel_restaurant_type_nav_upper_bar {
    z-index: 999;
    background: rgb(0, 162, 255);
    width: 100%;
    font-size: 2vw;
    padding: 10px;
    position: fixed;
    top: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 3px 0.5px black;
    transition: all 0.1s ease-in-out;
}

#koktel_restaurant_type_nav_upper_bar h3 {
    color: black;
    margin: 0 10px;
}










/* Meal Info Section */
#koktel_restaurant_menu_section {
    background: linear-gradient(to right, rgb(0, 54, 179), rgb(0, 19, 63));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.koktel_meal_info_name_area {
    padding-bottom: 5px;
}

.koktel_meal_info_name_area h1 {
    font-size: 2.5vmax;
    padding-right: 2px;
}

.koktel_meal_info_name_area h2 {
    font-size: 1.6vmax;
    margin: 0.5vmax 0;
}

.koktel_meal_info_name_area h3 {
    font-size: 2.5vmax;
}

.koktel_meal_info_name_area h4 {
    direction: ltr;
    font-size: 2.5vmax;
    padding-left: 2px;
    text-align: start;
}

.koktel_meal_info_name_area h5 {
    direction: ltr;
    font-size: 1.6vmax;
    text-align: start;
    padding-left: 2px;
}

.koktel_meal_info_name_area span {
    white-space: normal;
    font-size: 1.6vmax;
}

.koktel_orignal_price_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.koktel_orignal_price_div h3 {
    color: rgb(0, 255, 0);
}

#koktel_orignal_price {
    margin-right: 0.5vmax;
    margin-left: 0.5vmax;
}

.koktel_meal_info_options_title {
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(0, 19, 63));
    padding: 0.5vmax 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px 0.5px black;
}

.koktel_meal_info_options_title h2 {
    font-size: 2.5vmax;
    text-align: center;
}

.koktel_meal_info_options_amount_title {
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(0, 19, 63));
    padding: 0.5vmax 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px 0.5px black;
}

.koktel_meal_info_options_amount_title h2 {
    font-size: 3vw;
}

.koktel_meal_info_options_div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.koktel_meal_info_options_div div {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
}

.koktel_meal_info_option {
    background: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.koktel_meal_info_option input[type="checkbox"] {
    display: none;
}

.koktel_meal_info_option label::before {
    content: '';
    width: 4vmax;
    height: 4vmax;
    margin-left: 0.5vmax;
    margin-right: 0.5vmax;
    display: inline-block;
    border-radius: 50%;
    background-color: rgb(159, 159, 159);
    vertical-align: middle;
    transition: background-color 0.3s ease-in-out;
}

.koktel_meal_info_option input[type="checkbox"]:checked+label::before {
    background-color: rgb(0, 255, 0);
}

.koktel_meal_info_option label {
    font-size: 2vmax;
    margin-right: 0.5vmax;
    cursor: pointer;
}

.koktel_meal_info_note {
    width: 95%;
}

.koktel_meal_info_note textarea {
    width: 100%;
    font-size: 5vmin;
    height: 6vmax;
    max-height: 250px;
    text-align: center;
    align-content: center;
    outline: none;
    resize: none;
    border-color: rgb(255, 136, 0);
    border-radius: 3px;
}

.koktel_meal_info_note textarea::-webkit-scrollbar {
    width: 0;
}

.koktel_meal_info_options_amount {
    background: linear-gradient(to left, rgb(255, 0, 221), rgb(13, 0, 255));
    display: flex;
    justify-content: center;
    align-items: center;
}

.koktel_meal_info_options_amount h2 {
    font-size: 5.5vmax;
    margin: 0 5vmax;
    padding-bottom: 20vmax;
    color: black;
    user-select: none;
}

.koktel_meal_info_options_amount ion-icon {
    background: white;
    font-size: 5vmax;
    margin-bottom: 10vmax;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 3px 0.5px black;
}

.koktel_total_price_div {
    background: rgb(210, 210, 210);
    z-index: 990;
    width: 100%;
    padding: 10px 0 5px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px 0.5px black;
}

.koktel_total_price_div h3 {
    background: rgb(0, 185, 0);
    padding: 10px;
    font-size: 2vw;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 5px 0.5px black;
    transition: all 0.1s ease-in-out;
}

.koktel_total_price_div h3:hover {
    box-shadow: 0 0 15px 0.5px black;
}

#koktel_order_page_icon_div {
    z-index: 995;
    background: rgb(255, 166, 0);
    position: fixed;
    bottom: 20vmin;
    padding: 4.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 3px 0.5px black;
    animation: floatAnimation 4s ease-in-out infinite;
    transition: all 0.1s ease-in-out;
}

#koktel_order_page_icon_div:hover {
    background: rgb(166, 0, 255);
}

#koktel_order_page_icon_div a {
    background: white;
    color: black;
    font-size: 6vmax;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 0 3px 0.5px black;
}










/* Restaurant Order Page Details */
.koktel_order_details_div {
    background: linear-gradient(to right, rgb(0, 54, 179), rgb(0, 19, 63));
    width: 100%;
    padding: 100px 0;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.koktel_order_details_title {
    background: black;
    width: 100%;
    padding: 0 5px;
    font-size: 2.5vmax;
    text-align: center;
}

.koktel_orders_ready_to_send_text {
    color: rgb(0, 255, 0);
}

.koktel_order_finished_card_area {
    background: linear-gradient(to right, rgb(0, 54, 179), rgb(0, 19, 63));
    width: 100%;
    margin-bottom: 30px;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.koktel_order_finished_card {
    background: rgb(56, 56, 56);
    width: 60vmin;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 0 3px 0.5px black;
}

.koktel_order_finished_card h2 {
    font-size: 5vmin;
    text-align: center;
}

.koktel_order_finished_card img {
    width: 30vmin;
    margin: 10px 0;
    align-self: center;
    border-radius: 3px;
    box-shadow: 0 0 3px 0.5px black;
    cursor: pointer;
}

.koktel_orderFinished_info_and_delete {
    width: 100%;
}

.koktel_orderFinished_info_and_delete h3 {
    transition: all 0.2s ease-in-out;
}

.koktel_orderFinished_info_and_delete h3:hover {
    letter-spacing: 2px;
}

.koktel_order_finished_card h3 {
    background: purple;
    width: 100%;
    font-size: 5vmin;
    text-align: center;
    cursor: pointer;
}

#koktel_order_details_h3 {
    color: rgb(255, 166, 0);
}

#koktel_order_total_price_h3 {
    color: rgb(0, 255, 0);
    cursor: text;
}

.koktel_there_is_no_orders_text_class {
    background: black;
    color: red;
    width: 100%;
    font-size: 6vmin;
    text-align: center;
}

.koktel_delete_all_orders_button_class {
    display: none;
    background: black;
    color: white;
    font-size: 6vmin;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 5px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 0.5px 0.5px white;
    transition: all 0.1s ease-in-out;
}

.koktel_delete_all_orders_button_class:hover {
    box-shadow: 0 0 15px 0.5px white;
}

#koktel_order_details_delivery_price_title {
    background: black;
    color: white;
    padding: 20px;
    margin: 5px 0;
}

.koktel_ensure_delete_orders_overlay {
    z-index: 1001;
    background: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.koktel_ensure_delete_all_orders_div {
    z-index: 997;
    background: #00ddff;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 0 3px 0.5px black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.koktel_ensure_delete_all_orders_div h6 {
    color: purple;
    width: 1005;
    font-size: 6vmin;
    text-align: center;
}

#koktel_ensure_delete_all_orders_answer_div {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#koktel_ensure_delete_all_orders_answer_div h6 {
    background: rgb(255, 136, 0);
    color: white;
    width: 100%;
    font-size: 3.5vw;
    margin: 20px 50px;
    padding: 8px 14px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 3px 0.5px black;
    transition: all 0.1s ease-in-out;
}

#koktel_ensure_delete_all_orders_answer_div h6:hover {
    box-shadow: 0 0 15px 0.5px white;
}

#koktel_order_details_final_price_title,
#koktel_order_details_delivery_price_title {
    background: black;
    width: 100%;
    padding: 10px 18px;
    font-size: 3vw;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 0 3px 0.5px white;
}

#koktel_order_check_out_div {
    width: 95%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

#koktel_order_check_out_div div {
    margin: 0 10px;
}

.koktel_download_order_pdf_div_class {
    background: green;
    width: 50vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    border: 0.5px solid black;
    transition: all 0.2s ease-in-out;
}

.koktel_download_order_pdf_div_class:hover {
    background: rgb(0, 173, 0);
}

.koktel_download_order_pdf_div_class ion-icon {
    font-size: 20vmin;
}

.koktel_download_order_pdf_div_class h5 {
    font-size: 5vmin;
    text-align: center;
}

#koktel_order_check_out_bill_div {
    background: rgb(96, 96, 96);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 0.5px solid black;
}

#koktel_order_check_out_bill_div h6 {
    font-size: 5vmin;
    padding: 3px 0;
    text-align: center;
    line-height: 1.4;
}

#koktel_order_check_out_bill_title {
    background: rgb(138, 138, 138);
    width: 100%;
    color: rgb(0, 255, 0);
    border-radius: 3px;
}

#koktel_order_check_out_bill_details_text {
    margin: 9px 0;
}

.koktel_order_check_out_bill_total_price {
    color: rgb(0, 255, 0);
    background: rgb(138, 138, 138);
    width: 100%;
}

#koktel_order_details_text_div {
    background: linear-gradient(to right, rgb(132, 0, 255), rgb(60, 0, 117));
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#koktel_order_details_text_div div {
    margin: 20px 0;
}


#koktel_order_details_text_background {
    background: linear-gradient(to right, rgb(0, 98, 190), rgb(0, 21, 41));
    width: 100%;
}

#koktel_order_details_text_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#koktel_order_details_text_background h4,
#koktel_order_details_text_background h5 {
    margin: 10px 0;
    text-align: center;
}

#koktel_order_details_text_background h4 {
    font-size: 2vmax;
}

#koktel_order_details_text_background h5 {
    font-size: 1.7vmax;
}

#koktel_order_details_text_bottom_button_div {
    background: linear-gradient(to right, rgb(132, 0, 255), rgb(60, 0, 117));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#koktel_order_details_text_bottom_button_div h5 {
    background: purple;
    font-size: 2.5vmax;
    margin: 0 15px;
    padding: 0 5px;
    text-align: center;
    border-radius: 3px;
    border: 0.5px solid black;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#koktel_order_details_text_bottom_button_div h5:hover {
    box-shadow: 0 0 15px 0.5px black;
}












/* Final pdf file content */
#final_order_pdf_content_container_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#final_order_pdf_content_container_div * {
    color: black;
    font-size: 1.2vmax;
    padding: 5px 0;
}

#final_order_pdf_content_container_div img {
    width: 9vmax;
    padding-bottom: 1vmax;
}

.arabic_and_indo_order_upper_text_div_class {
    width: 100%;
    text-align: center;
}

.arabic_and_indo_order_text_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.arabic_and_indo_order_text_div h1 {
    width: 100%;
    min-height: 30vmax;
}

.arabic_and_indo_order_bottom_text_div_class {
    width: 100%;
    padding-top: 1vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.arabic_and_indo_order_bottom_text_div_class h1 {
    direction: ltr;
    text-align: center;
}






/* SuperMarket */
.koktel_products_system_section {
    background: linear-gradient(to right, rgb(0, 54, 179), rgb(0, 19, 63));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.your_orders_link_p_class {
    text-decoration: none;
    background: rgb(0, 50, 103);
    color: white;
    font-size: 2vmax;
    margin-top: 10px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 3px 0.5px black;
    transition: all 0.1s ease-in-out;
}

.your_orders_link_p_class:hover {
    background: rgb(0, 19, 40);
}

.koktel_filter_product_type_div_class {
    background: linear-gradient(to top, rgb(0, 135, 213), rgb(0, 63, 99));
    color: white;
    margin: 10px 0;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 3px 0.5px black;
    transition: all 0.1s ease-in-out;
}

.koktel_filter_product_type_div_class:hover {
    background: rgb(0, 77, 121);
}


.koktel_filter_product_type_div_class h1 {
    font-size: 6vmin;
    margin-left: 10px;
    text-align: center;
}

.koktel_filter_product_type_div_class img {
    width: 7vmax;
    height: fit-content;
    border-radius: 3px;
}

.koktel_product_type_nav_upper_bar_class {
    z-index: 996;
    background: rgb(0, 162, 255);
    width: 100%;
    position: fixed;
    top: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 3px 0.5px black;
    transition: all 0.1s ease-in-out;
}

.koktel_product_type_nav_upper_bar_class:hover {
    background: rgb(54, 181, 255);
}

.koktel_product_type_nav_upper_bar_class h3 {
    color: black;
    margin-left: 10px;
    font-size: 6vmin;
    text-align: center;
}

.koktel_product_type_nav_upper_bar_class img {
    width: 8vmax;
    border-radius: 3px;
}





#koktel_product_card_area {
    background: linear-gradient(to right, rgb(0, 54, 179), rgb(0, 19, 63));
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.koktelindo_product_slide_div {
    background: rgb(44, 44, 44);
    width: 100%;
    padding: 10px 0 100px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.koktelindo_product_slide_div a {
    text-decoration: none;
    color: white;
}

.koktelindo_product_slide_div::-webkit-scrollbar {
    display: none;
}


.koktel_product_card {
    user-select: none;
    background: linear-gradient(to right, rgb(22, 18, 93), rgb(9, 0, 179));
    min-width: 25vmax;
    width: 25vmax;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 0 5px 0.5px black;
    transition: all 0.1s ease-in-out;
    overflow: hidden;
}

/* Ensure the anchor takes full height and uses flexbox */
.koktel_product_card>a {
    background: linear-gradient(to bottom, rgb(23, 0, 56), rgb(68, 0, 171));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Pushes content to the top and bottom */
    height: 100%;
    /* Makes the anchor fill the parent card */
    width: 100%;
    text-decoration: none;
    /* Remove underline or other styles */
}

#koktel_product_card a div {
    width: 100%;
}

/* Ensure the main content area grows to take up space */
.koktel_store_menu_info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center content vertically if needed */
}

.koktel_store_meal_state_button {
    background: linear-gradient(to right, rgb(0, 58, 63), rgb(0, 146, 159));
    color: white;
    font-size: 4vmin;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.not_available {
    color: red;
}

.koktel_product_card_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.koktel_product_card_img {
    width: 100%;
    height: 12vmax;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.koktel_product_card_img img {
    height: 100%;
    cursor: pointer;
    box-shadow: 0 0 5px 0.2px black;
    transition: all 0.3s ease-in-out;
}

.koktel_product_card_img img:hover {
    transform: scale(1.015);
    box-shadow: 0 0 15px 0.5px black;
}

.koktel_product_name_div {
    background: linear-gradient(to right, rgb(22, 18, 93), rgb(9, 0, 179));
    min-height: 9vmax;
    max-height: fit-content;
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.koktel_product_name_div * {
    color: white;
    font-size: 1.8vmax;
    line-height: 1.4;
}

.koktel_product_price {
    background: linear-gradient(to right, rgb(106, 69, 0), orange);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.koktel_product_price h3 {
    font-size: 2vmax;
    margin-left: 5px;
}

.koktel_add_product_button_div {
    background: linear-gradient(to right, rgb(106, 69, 0), orange);
    width: 100%;
    height: 100%;
    color: black;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.koktel_add_product_button_div h4 {
    background: rgb(0, 255, 0);
    font-size: 2vmax;
    padding: 2px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 3px 0.5px black;
    user-select: none;
    transition: all 0.1s ease-in-out;
}

.koktel_add_product_button_div h4:hover {
    background: rgb(0, 222, 0);
}

.koktel_add_product_button_div h5 {
    font-size: 2.5vmax;
    cursor: default;
    user-select: none;
}

.koktel_add_product_button_div ion-icon {
    background: red;
    font-size: 4vmax;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    transition: all 0.1s ease-in-out;
}

.koktel_add_product_button_div ion-icon:hover {
    background: rgb(221, 0, 0);
}

#koktel_product_bottom_counter_div {
    background: rgb(210, 210, 210);
    z-index: 990;
    width: 100%;
    padding: 10px 0 5px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px 0.5px black;
}

#koktel_product_bottom_counter_div h6 {
    background: rgb(0, 185, 0);
    min-width: 25vmax;
    font-size: 2.5vmax;
    padding: 0 5px;
    text-align: center;
    line-height: 1.4;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 5px 0.5px black;
    transition: all 0.1s ease-in-out;
}


#koktel_product_bottom_counter_div h6:hover {
    box-shadow: 0 0 15px 0.5px black;
}











/* Home Worker And Driver Section */
.koktel_workers_section_styling {
    background: linear-gradient(to right, rgb(0, 123, 255), rgb(0, 79, 163));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#koktel_choose_worker_type_area {
    background: linear-gradient(to right, rgb(0, 123, 255), rgb(0, 79, 163));
    width: 100%;
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.koktel_worker_type_card {
    background: rgb(56, 56, 56);
    width: 35vw;
    margin: 5px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 0 5px 1px black;
    transition: all 0.1s ease-in-out;
}

.koktel_worker_type_card:hover {
    transform: scale(1.015);
    box-shadow: 0 0 10px 0.5px black;
}

.koktel_worker_type_card_img_div {
    width: 100%;
}

.koktel_worker_type_card_img_div img {
    width: 100%;
}

.koktel_choose_worker_type_Info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.koktel_choose_worker_type_Info h2 {
    font-size: 2.5vmax;
    text-align: center;
}

.koktel_choose_worker_type_Info h3 {
    color: rgb(0, 255, 0);
    font-size: 2.5vmax;
    text-align: center;
}

#koktel_driver_type_box_overlay {
    z-index: 1001;
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#koktel_driver_type_box {
    z-index: 997;
    background: #00ddff;
    width: 90vw;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 0 3px 0.5px black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#koktel_driver_type_box div {
    margin: 10px 0;
}

#koktel_driver_type_box_title h3 {
    color: #860057;
    font-size: 5.5vw;
    padding: 10px;
    text-align: center;
}

#koktel_driver_type_box_options {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#koktel_driver_type_box_options h4 {
    background: orange;
    font-size: 4.5vw;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 0 3px 0.5px black;
    transition: all 0.1s ease-in-out;
}

#koktel_driver_type_box_options h4:hover {
    box-shadow: 0 0 3px 0.5px white;
}














/* Main Page Section */
#koktel_main_page_section {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.koktel_main_page_text {
    background: linear-gradient(to top, rgb(255, 136, 0), rgb(156, 83, 0));
    font-size: 5vmin;
    line-height: 1.4;
    margin: 5px 0;
    padding: 4px 5px;
    width: fit-content;
    text-align: center;
    border-radius: 3px;
    border: 1px solid white;
    box-shadow: 0 0 1px 0.5px black;
}

.koktel_main_page_text_2 {
    background: linear-gradient(to top, rgb(255, 136, 0), rgb(156, 83, 0));
    font-size: 5vmin;
    margin: 5px 0;
    padding: 0 5px;
    width: fit-content;
    text-align: center;
    border-radius: 3px;
    border: 1px solid white;
}

#koktel_our_features_area {
    background: linear-gradient(to right, rgb(13, 0, 255), rgb(5, 0, 91));
    width: 100%;
    height: fit-content;
    margin-bottom: 30px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    box-shadow: 0 0 1px 0.5px white;
}

#koktel_our_features_area h2 {
    font-size: 4vmin;
    padding: 5px;
    border-radius: 3px;
    margin: 3px 0;
}

#koktel_our_features_area spam {
    margin-left: 5px;
}

#koktel_main_page_section img {
    margin: 15px 0;
}

.koktel_indonesia_info_image {
    width: 23vmin;
    cursor: pointer;
    align-self: center;
}

#koktel_indonesia_info {
    background: linear-gradient(to right, rgb(13, 0, 255), rgb(5, 0, 91));
    width: 100%;
    height: fit-content;
    margin-bottom: 30px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1px 0.5px white;
}

#koktel_indonesia_info h2 {
    font-size: 3.5vmin;
    line-height: 1.4;
    padding: 15px 15px 0 15px;
}

#koktel_our_contact_info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px
}

#koktel_our_contact_info div {
    background: linear-gradient(to right, #00ddff, rgb(251, 0, 255));
    display: flex;
    width: 70vmin;
    margin: 5px;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 5px 0.5px black;
    animation: floatAnimation 4s ease-in-out infinite;
    transition: all 0.1s ease-in-out;
}

#koktel_our_contact_info div:hover {
    opacity: 0.8;
}

#koktel_our_contact_info ion-icon {
    background: linear-gradient(#00ddff, rgb(251, 0, 255));
    font-size: 15vmin;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px 0.5px black;
}

#koktel_our_contact_info h1,
#koktel_our_contact_info h2 {
    background: black;
    font-size: 4.5vmin;
    text-align: center;
    align-items: center;
    padding: 0 5px;
}








/* About Us Section */
#koktel_companydescription {
    background: linear-gradient(to right, rgb(13, 0, 255), rgb(5, 0, 91));
    width: 100%;
    margin-top: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 0 3px 0.5px white;
}

#koktel_companydescription h2 {
    font-size: 2vw;
    line-height: 1.5;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 3px;
}

#koktel_companydescription img {
    width: 10vw;
    margin-top: 10px;
    cursor: pointer;
}










/* Our Accounts Section */
#koktel_accounts_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#koktel_accounts_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#koktel_accounts_div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#koktel_accounts_section h1 {
    background: linear-gradient(to top, rgb(234, 152, 0), rgb(156, 101, 0));
    font-size: 3vmax;
    text-align: center;
    padding: 0 5px;
    border: 1px solid white;
    border-radius: 3px;
    margin-bottom: 20px;
}

#koktel_accounts_section a {
    background: rgb(90, 90, 90);
    color: white;
    width: 20vw;
    font-size: 3vw;
    margin: 10px;
    padding: 10px 0;
    text-decoration: none;
    text-align: center;
    border: 1px solid white;
    border-radius: 3px;
    transition: all 0.1s ease-in-out;
    animation: floatAnimation 4s ease-in-out infinite;
}

#koktel_accounts_section ion-icon {
    width: 100%;
    font-size: 4.5vw;
    padding: 5px 0;
    text-decoration: none;
    text-align: center;
}

#koktel_accounts_section a:hover {
    background: rgb(188, 188, 188);
    color: black
}

#koktel_ads_videos_and_img_div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.koktel_ads_only_videos_div {
    width: 50vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 15px;
    overflow: hidden;
}

.koktel_ads_only_img_div {
    width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.koktel_ads_only_videos_div video {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.koktel_ads_only_videos_div img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease-in-out;
}

.koktel_ads_only_img_div img {
    width: 100%;
    cursor: pointer;
}






/* Footer Section */
footer {
    background: linear-gradient(to left, rgb(0, 54, 179), rgb(0, 19, 63));
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 0;
}

footer div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

footer h1,
footer h2 {
    font-size: 5vmin;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

footer img {
    width: 7vmax;
    cursor: pointer;
}
















/* Media Queries */
/* 1250px */
@media(max-width:1250px) {
    #koktel_web_logo_no_moving {
        width: 30Vw;
    }

    .koktel_go_back_products_page_button {
        font-size: 4.5vw;
    }

    .koktel_share_page_url_button {
        font-size: 4vw;
    }
}

/* 1040px */
@media(max-width:1040px) {
    .koktel_ads_only_videos_div {
        width: 80vw;
        height: 450px;
    }

    .koktel_ads_only_img_div {
        width: 43vw;
    }
}

/* 950px */
@media(max-width:950px) {
    .koktel_full_screen_overlay_exit_button {
        font-size: 6.5vw;
    }

    .web_guidance_div a {
        font-size: 4vw;
        padding: 10px;
    }

    .koktel_filter_products_type_div a {
        font-size: 4.5vw;
        margin: 7px;
        padding: 10px;
    }

    .koktel_success_box {
        font-size: 3vw;
    }

    .koktel_worker_type_card {
        width: 45vw;
        margin: 0 10px 10px;
    }

















    .koktelindo_product_slide_div {
        padding: 10px 0 50px;
    }

    .koktel_meal_info_options_amount_title {
        padding: 15px;
    }

    .koktel_meal_info_options_amount_title h2 {
        font-size: 5vw;
    }


















    #koktel_order_details_text_div div {
        margin: 5px 0;
    }

    #koktel_companydescription h2 {
        font-size: 3vw;
    }

    #koktel_companydescription img {
        width: 15vw;
    }
}

/* 850px */
@media(max-width:850px) {
    #koktel_accounts_section a {
        width: 25vw;
        font-size: 4vw;
    }

    #koktel_accounts_section ion-icon {
        font-size: 6vw;
    }

    .koktel_ads_only_videos_div {
        height: 400px;
    }
}



/* 760px */
@media(max-width:760px) {
    #koktel_weblogo {
        width: 100Vw;
    }

    #koktel_web_logo_no_moving {
        width: 40Vw;
    }

    .koktel_ads_only_videos_div {
        height: 350px;
    }

    .koktel_ads_only_img_div {
        width: 53vw;
    }

    .koktel_go_back_products_page_button {
        font-size: 6.5vw;
    }

    .koktel_share_page_url_button {
        font-size: 6vw;
    }
}

/* 650px */
@media(max-width:650px) {
    .koktel_full_screen_overlay_exit_button {
        font-size: 8vw;
    }

    .web_guidance_div a {
        font-size: 5vw;
        padding: 8px;
    }

    .koktel_filter_products_type_div a {
        font-size: 5.5vw;
        margin: 5px;
        padding: 8px;
    }

    .koktel_success_box {
        font-size: 4vw;
    }













    .koktel_meal_info_options_div {
        margin-bottom: 10px;
    }


    .koktel_meal_info_options_div div {
        margin: 3px 0;
        padding: 5px;
    }

    .koktel_meal_info_options_amount_title {
        padding: 10px;
    }

    .koktel_meal_info_options_amount_title h2 {
        font-size: 6vw;
    }

















    #koktel_driver_type_box {
        width: 100vw;
        padding: 0 5px;
    }

    #koktel_driver_type_box_title h3 {
        font-size: 9.5vw;
    }

    #koktel_driver_type_box_options h4 {
        font-size: 8.5vw;
        padding: 4px 8px;
    }

    #koktel_ensure_delete_all_orders_answer_div h6 {
        font-size: 6vw;
        margin: 20px;
        padding: 8px;
    }

    #koktel_order_check_out_bill_details_text {
        margin: 7px 0;
    }

    #koktel_companydescription h2 {
        font-size: 3.5vw;
    }

    #koktel_companydescription img {
        width: 20vw;
        margin-top: 5px;
    }
}

/* 580px */
@media(max-width:580px) {
    .koktel_ads_only_videos_div {
        width: 90vw;
        height: 300px;
    }

    .koktel_ads_only_img_div {
        width: 58vw;
    }
}

/* 500px */
@media(max-width:500px) {
    #koktel_web_logo_no_moving {
        width: 50Vw;
    }

    #koktel_accounts_section a {
        width: 30vw;
        font-size: 5vw;
    }

    #koktel_accounts_section ion-icon {
        font-size: 8vw;
    }

    .koktel_ads_only_videos_div {
        width: 95vw;
        height: 250px;
    }

    .koktel_ads_only_img_div {
        width: 63vw;
    }

    .koktel_order_details_div {
        padding: 50px 0;
    }

    .koktel_go_back_products_page_button {
        font-size: 8.5vw;
    }

    .koktel_share_page_url_button {
        font-size: 8vw;
    }

    #koktel_companydescription {
        padding: 10px 0;
    }
}

/* 400px */
@media(max-width:400px) {
    .koktel_full_screen_overlay_exit_button {
        font-size: 10.5vw;
        padding: 1px;
    }

    .web_guidance_div a {
        font-size: 6vw;
        padding: 6px;
    }

    .koktel_filter_products_type_div a {
        font-size: 6.5vw;
        margin: 3px;
        padding: 6px;
    }

    .koktel_success_box {
        font-size: 5vw;
    }
















    .koktelindo_product_slide_div {
        padding: 10px 0 30px;
    }

    .koktel_meal_info_options_amount_title {
        padding: 5px;
    }

    .koktel_meal_info_options_amount_title h2 {
        font-size: 7vw;
    }














    #koktel_accounts_section a {
        font-size: 6vw;
    }

    #koktel_accounts_section ion-icon {
        font-size: 10vw;
    }

    .koktel_ads_only_videos_div {
        height: 200px;
    }

    .koktel_ads_only_img_div {
        width: 68vw;
    }

    .koktel_worker_type_card {
        width: 65vw;
        margin: 0 0 10px;
    }

    #koktel_order_check_out_bill_details_text {
        margin: 5px 0;
    }

    #koktel_ensure_delete_all_orders_answer_div h6 {
        font-size: 6vw;
        padding: 6px;
    }

    #koktel_companydescription h2 {
        font-size: 4vw;
    }

    #koktel_companydescription img {
        width: 25vw;
        margin-top: 2px;
    }
}

/* 320px */
@media(max-width:320px) {
    .koktel_ads_only_videos_div {
        height: 150px;
    }

    .koktel_go_back_products_page_button {
        font-size: 10vw;
    }

    .koktel_share_page_url_button {
        font-size: 9vw;
    }
}
